<p [style]="styleBind">This is home works!</p>

<h1 [class]="myClass"> {{name}}</h1>
<button (click)="clickSave()" (mouseover)="mouseOver()">Button</button>
<p>Change Event<input type="text" (change)="changeEvent()"></p>
<p>Key Down event<input type="text" (keydown)="keyDownEvent()"></p>
<p>focusEvent event<input type="text" (focus)="focusEvent()"></p>
<img [attr.src]="src" [attr.width]="width"> 
<p> {{employees[1]}}</p>
<p> {{employees[2]}}</p>
<p> {{getName(2)}}</p>
<ul>
   <li>
     <strong> Name:</strong>  {{employee.name}}
   </li>
   <li>
    <strong> Age:</strong>{{employee.age}}
   </li>
   <li>
    <strong> Salary:</strong> {{employee.salary}}
   </li>
</ul>