<p [style]="styleBind">This is home works!</p>
<div [ngSwitch]="switchTest">
  <div *ngSwitchCase="1">I am first</div>
  <div *ngSwitchCase="2">I am Second</div>
  <div *ngSwitchCase="3">I am Third</div>
  <div *ngSwitchCase="4">I am Fourth</div>
</div>
<input type="text" value="22" #myText>
{{myText.value}}
<h1 [class]="myClass"> {{name}}</h1>
<button (click)="clickSave()" (mouseover)="mouseOver()">Button</button>
<p>Change Event<input type="text" (change)="changeEvent()"></p>
<p>Key Down event<input type="text" (keydown)="keyDownEvent()"></p>
<p>focusEvent event<input type="text" (focus)="focusEvent()"></p>
<img [attr.src]="src" [attr.width]="width"> 
<p> {{employees[1]}}</p>
<p> {{employees[2]}}</p>
<p> {{getName(2)}}</p>
<ul>
   <li>
     <strong> Name:</strong>  {{employee.name}}
   </li>
   <li>
    <strong> Age:</strong>{{employee.age}}
   </li>
   <li>
    <strong> Salary:</strong> {{employee.salary}}
   </li>
</ul>